[Desktop Entry]
Name=Xfmedia
Comment=Lightweight Media Player
Comment(pl)=Lekki odtwarzacz multimedialny
Exec=xfmedia
#Icon=xfmedia.png
Terminal=false
Type=Application
StartupNotify=true
Categories=X-XFCE;AudioVideo;Player;
Encoding=UTF-8
# vi: encoding=utf-8
